accelerate @ git+https://github.com/huggingface/accelerate.git@c9fbb71e37e7f64f5df54b39270bdabe82f1b893
aiohttp==3.9.4
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
bitsandbytes==0.39.0
blinker==1.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
datasets==2.12.0
dill==0.3.6
einops==0.6.1
filelock==3.13.1
Flask==3.0.0
flask_cors
frozenlist==1.4.0
fsspec==2023.10.0
gunicorn==22.0.0
huggingface-hub==0.19.0
idna==3.7
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.4
loralib==0.1.1
MarkupSafe==2.1.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.14
networkx==3.1
numpy==1.24.4
packaging==23.2
pandas==2.0.3
peft @ git+https://github.com/huggingface/peft.git@42a184f7423fc0bbc102a085851a8fb6e40132ad
psutil==5.9.6
pyarrow==14.0.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.32.2
responses==0.18.0
safetensors==0.4.0
scipy
six==1.16.0
sympy==1.12
tokenizers==0.13.3
torch==2.0.1
tqdm==4.66.3
transformers @ git+https://github.com/huggingface/transformers.git@e03a9cc0cd7623a8d5208d7a4206f628b2bd5513
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.2.2
Werkzeug==3.0.1
xxhash==3.4.1
yarl==1.9.2
zipp==3.19.1
huggingface_hub
